.info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;

    font-family: Sahitya, serif;
    font-size: 22px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #888A8F;
}