.message {
    max-width: 66%;
    margin-left: auto;

    display: flex;
    flex-direction: column;
}

.text {
    display: inline-block;
    margin-left: auto;
    padding: 15px;
    background: rgba(66, 170, 149, 0.1);
    border: 1px solid rgba(66, 170, 149, 0.25);
    box-sizing: border-box;
    border-radius: 5px;
    color: #38AC94;
}

.group {
    text-align: right;
}
.group span {
    font-family: Sahitya, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.date {
    color: #888A8F;
    margin: 0 5px;
}

.name {
    color: #fff;
}