.main {
    border: 1px solid transparent;
    background-color: #191A21;
    color: #fff;
    position: relative;
    margin-left: 80px;
    min-height: 100vh;
    overflow: hidden;
}

@media only screen and (max-width: 380px) {
    .main {
        margin-left: 60px;
    }
}