.layout {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-gap: 20px;
    padding: 20px;
}

@media only screen and (max-width: 640px) {
    .layout {
        display: block;
    }
}
@media only screen and (max-width: 380px) {
    .layout {
        padding: 10px;
    }
}