.close-btn {
    cursor: pointer;
    height: 24px;
    width: 24px;
    background: url("../../../assets/icons/close.svg") no-repeat center center;

    position: absolute;
    top: 20px;
    right: 20px;
}
@media only screen and (max-width: 380px) {
    .close-btn {
        top: 10px;
        right: 10px;
    }
}