.block {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.title {
    font-family: Sarabun, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #5D61ED;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}

.span {
    font-family: Sarabun, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
}

.link {
    font-family: Sarabun, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}