.block {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.title {
    font-family: Sarabun, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #5D61ED;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}

.span {
    font-family: Sarabun, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
}

.toggle {
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 12px;
    background: rgba(66, 170, 149, 0.5);
    border-radius: 50px;
    transition: all .3s;
}

.toggle:after {
    content: '';
    position: absolute;
    right: 0;
    top: -4.5px;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    background: #42AA95;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
}

.toggle.active {
    background: #EEEEEE;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
}
.toggle.active:after {
    background: #C4C4C4;
    transform: translate(-15px, 0);
}

.link {
    font-family: Sarabun, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
    text-decoration: underline;
}
.link:hover {
    text-decoration: none;
}