.toggle {
    position: relative;
}

.eye {
    cursor: pointer;
    width: 24px;
    height: 24px;

    position: absolute;
    right: 5px;
    top: 5px;

    background: url("../../../assets/icons/eye-closed.svg") no-repeat center center;
}

.eye--is-open {
    background: url("../../../assets/icons/eye.svg") no-repeat center center;
}