.bubbles {
    position: absolute;
    z-index: 0;
    top: 10vh;
    height: 80vh;
    width: 100%;
    background: url('../../../assets/img/bubbles.svg') no-repeat center center;
    background-size: contain;
}
