.bubbles {
    position: absolute;
    z-index: 0;
    top: 5vh;
    height: 90vh;
    width: 100%;
    background: url('../../../assets/img/bubbles.svg') no-repeat center center;
    background-size: contain;
}
