.topbar {
    border-bottom: 1px solid #2D2E38;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 70px;
}

.title {
    font-family: Sahitya, serif;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

@media only screen and (max-width: 380px) {
    .topbar {
        padding: 10px;
        height: 50px;
    }
}