.topbar {
    border-bottom: 1px solid #2D2E38;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: Sahitya, serif;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
    text-align: left;

}