.form {
    padding-top: 20px;
}

.title {
    text-transform: uppercase;
    font-family: Sahitya, serif;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: 400;
    text-align: left;

    color: #888A8F;
    margin-left: 20px;
}
.group {
    position: relative;
    width: calc(100% - 40px);
    margin: 10px 20px 0;
}
.input {
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: Sahitya, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    padding: 5px 30px 5px 5px;
    outline: none;
    border-radius: 3px;
    border: 1px solid transparent;
}
.input:focus{
    outline: none;
    border-radius: 3px;
}
.search {
    cursor: pointer;
    width: 30px;
    height: 100%;
    background: url('../../../../assets/icons/search.svg') no-repeat center center;

    position: absolute;
    right:  0;
    top: 0;
}

.input:focus {
    border: 1px solid #ffffff50;
}

@media only screen and (max-width: 640px) {
    .group {
        margin: 10px 20px;
    }
}

@media only screen and (max-width: 380px) {
    .title {
        margin-left: 10px;
    }
    .group {
        width: calc(100% - 20px);
        margin: 10px;
    }
}
