.container {
    position: relative;
    padding-top: 10px;
}

.main-title {
    font-family: Sarabun, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;

    color: #FFFFFF;
    margin-bottom: 5px;

}

.title {
    font-family: Sarabun, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    margin-bottom: 5px;
}

.text {
    font-family: Sarabun, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: rgba(255, 255, 255, 0.5);
}

.group {
    border-bottom: 1px solid #2D2E38;
    padding: 5px 15px;
}

p {
    margin-bottom: 10px;
}

.edit-btn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;

    background: url('../../../assets/icons/editBtn.svg') no-repeat center center;
}

.edit-btn:hover {
    background: url('../../../assets/icons/editBtnHover.svg') no-repeat center center;
}