.contact-info {
    background: #2B2B36;
    width: 500px;
    padding: 20px;
    transition: all .3s;
}

.contact-info--opened {
    transform: translateX(0);
}

.contact-info--closed {
    transform: translateX(100%);
    width: 0;
    padding: 0;
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {
    .contact-info {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 300px;
    }
}
@media only screen and (max-width: 380px) {
    .contact-info {
        width: calc(100vw - 60px);
    }
}