.contact-info {
    background: #2B2B36;
    width: 500px;
    padding: 20px;
    transition: all .3s;
}

.contact-info--opened {
    transform: translateX(0);
}

.contact-info--closed {
    transform: translateX(100%);
    width: 0;
    padding: 0;
    overflow: hidden;
}