@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&family=Sarabun:wght@400;700&family=Sirin+Stencil&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Sarabun', sans-serif;
  /*font-family: 'Sahitya', serif;*/
  /*font-family: 'Sirin Stencil', cursive;*/
}

button {
  border: 0;
}

input {
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*scroll-bar styling*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  /*background-color: #ffffff20;*/
  border-radius: 3px;
  border: 1px solid #ffffff50;
}

.wrapper ::-webkit-scrollbar-track {
  background-color: transparent;
}